
;
///TODO: figure out how to import locally

@import "g-Patternlab-Project/base";

$generate-map: (
    scheme-classes: false,
    swatch-classes: false,
    type-classes:false,
    rhythm-spacing:false,
    utility-static:false,
    components:false



);


















